.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}


@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

img{
    width: 320px;
    height: 240px;
    margin: 3px;
    border-radius: 5px;
    cursor: pointer;
}

#foto-grande{
    width:800px;
    height:600px;
}



.modal-lg {
    width: 90%;
    max-width:850px;
}

.menu-regresar {
    margin-top: 50px;
}